extends _header

block userSection
    li.menu-item.hvr-underline-from-center
        a(href="/profile") Profile
    li.menu-item.hvr-underline-from-center
        a(href="/calendar") Calendar
    block adminSection
    li.menu-item.hvr-underline-from-center
        a(href="/logout") Logout