extends ../_layout

block app-title
    | Events | EventManagementSystem

block vars
   - var bodyClass = 'profile';

block content
    .top-container
        .inner-bg
            .container
                .row
                    .col-sm-8.col-sm-offset-2.text
                    h1 Events
                    .row
                    .col-sm-8.col-sm-offset-2.text
                        h2 Here you can discover all events
                            .form-box
                            each event in result 
                                strong 
                                    a(href='events/' + event.id)= event.name
                                    p='location:' + event.location

