extends ../_layout

block app-title
    | Contact | EventManagementSystem

block vars
   - var bodyClass = 'login';

block additionalCss
    link(rel="stylesheet", href="/static/styles/contactForm.css")

block content
    .top-container
        .inner-bg
            .container
                .row
                div.title
                    h1
                        strong Contact us
                .row
                    .col-sm-6.login-form-wrapper
                        .div
                        .form-box
                            .form-top
                                .form-top-left
                                    form(role="form" action="" method="post" class="contact-form" id="contact-form")
                                        h4 From:
                                        if user
                                            input(type="text" name="username" placeholder="Your name" value= user.fullName class="form-user-name form-control" id= "form-user-name")
                                            br
                                            input(type="text" name="useremail" placeholder="Your email" value= user.email class="form-user-email form-control" id= "form-user-email")
                                            br
                                        else
                                            input(type="text" name="useremail" placeholder="Your email" class="form-user-email form-control" id= "form-user-email")
                                            br
                                        h4 Subject:
                                        input(type="text" name="subject" class="form-subject form-control" id= "form-subject")        
                                        h4 Message:
                                        textarea(type="text" name="inputMessage" id= "message")
                                        br
                                        .row
                                        button(type="button" class="btn button is-checked" data-filter="*" id= "send-email-button") Send
block specificJs
    script(src="/static/scripts/users/contactForm.js")