extends ../_layout

block app-title
    | Contact | EventManagementSystem

block vars
   - var bodyClass = 'login';

block content
    .top-container
        .inner-bg
            .container
                .row
                div.title
                    h1
                        strong Your message was sent successfully!